.mainDetails{
    height: auto;
}

.details__content {
    width: 100%;
    max-width: 768px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    overflow: hidden;
}

.charPicture {
    width: 100%;
    height: 35vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}

.charPicture-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.charPicture-shadow {
    background: linear-gradient(to top, rgb(47, 47, 47) 0%, rgba(231, 56, 39, 0) 80%);
    height: 21vh;
    width: 100vw;
    position: absolute;
    bottom: 0px;
}

.charPicture-name {
    font-family: var(--font--writting);
    font-size: 3.0rem;
    margin: 0 3%;
    color: var(--font--white);
    text-shadow: 2px 2px #1a1a1a;
    position: absolute;
    bottom: 3%;
}

.charPicture-origin {
    font-family: var(--font--writting);
    font-size: 2rem;
    color: var(--font--white);
    text-shadow: 2px 2px #1a1a1a;
    position: absolute;
    top: 3%;
    left: 1%;
    width: 70%;
    text-align: center;
}


@media (min-width: 425px) {
    .charPicture-name {
        font-size: 5rem;
        opacity: .9;
        bottom: 10%;
    }
    .charPicture-origin {
        font-size: 1.8rem;
        opacity: .9;
        bottom: 5%;
        top: auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .details__content {
        max-width: 100%;
    }
    .charPicture {
        width: 100%;
        top: 0;
    }
    .charPicture .charPicture-img {
        object-fit: cover;
        width: initial;
        margin-top: -25px;
        padding: 50px;
        height: 100%;
        border-radius: 50%;
    }
    .charPicture-name {
        font-size: 5.5rem;
        opacity: .8;
        bottom: 14%;
    }
    .charPicture-origin {
        font-size: 1.8rem;
        bottom: 9%;
        left: auto;
        top: auto;
    }
}
