.charPicture{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
}
.charPicture img{
    width: 100%;
}
.charPicture__shadow{
    background: linear-gradient(to top, rgb(47, 47, 47) 0%, rgba(231,56,39,0) 80%);
    height: 25vh;
    width: 100%;
    position: absolute;
    top:130px;

}
.charPicture-name{
    font-family: var(--font--writting);
    font-size: 3.0rem;
    margin: 0 3%;
    color: var(--font--white);
    text-shadow: 2px 2px #1a1a1a;
    position: absolute;
    bottom: 3%;
}
.charPicture-origin{
    font-family: var(--font--writting);
    font-size: 1.5rem;
    margin: 0 3%;
    color: var(--font--white);
    text-shadow: 2px 2px #1a1a1a;
    position: absolute;
    bottom: 3%;
    right: 1%;
    width: 40%;
    text-align:right;
}