.details__content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
}
.details__content-beName{
    font-size: 15rem;
    display: none;
}
.charPicture{
    width: 100%;
    height: 37vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}
.charPicture .charPicture-img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.charPicture-shadow{
    background: linear-gradient(to top, rgb(47, 47, 47) 0%, rgba(231,56,39,0) 80%);
    height: 21vh;
    width: 100%;
    position: absolute;
    top:130px;

}
.charPicture-name{
    font-family: var(--font--writting);
    font-size: 3.0rem;
    margin: 0 3%;
    color: var(--font--white);
    text-shadow: 2px 2px #1a1a1a;
    position: absolute;
    bottom: 3%;
}
.charPicture-origin{
    font-family: var(--font--writting);
    font-size: 2rem;
    color: var(--font--white);
    text-shadow: 2px 2px #1a1a1a;
    position: absolute;
    top: 3%;
    left:  1%;
    width: 70%;
    text-align:center;
}

@media (min-width: 425px){
.charPicture-name{
    font-size: 5rem;
    opacity: .9;
    bottom: 10%;
}
.charPicture-origin{
    font-size: 1.8rem;
    opacity: .9;
    bottom: 5%;
    top: auto;
    width: 100%;  
}
 }

@media (min-width: 768px){ 
    .charPicture{
        width: 100%;
        top: 0;
    }
    .details__content-beName{
        font-size: 14rem;
        display: inline-block;
        position: absolute;
        width: 140vw;
        text-align: center;
        opacity: .6;
        color: var(--color--cyan);
        font-family: var(--font--writting);
    }
.charPicture .charPicture-img{
    object-fit: cover;
    width: 100%;
    margin-top: -25px;
    padding: 50px;
    max-width: 300px;
    height: 300px;
    
    border-radius: 50%;
}
.charPicture-name{
    font-size: 5.5rem;
    opacity: .8;
    bottom: 14%;
}
.charPicture-origin{
    font-size: 1.8rem;
    bottom: 9%;
}
 }