.searched__content {
    max-width: 800px;
    min-width: 320px;
    width: 100%;
    height: 94vh;
}

.fillList {
    background: var(--badge--gradiant);
    height: 13vh;
    margin-bottom: 3px;
    width: 100%;
}

.fillList__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.fillList__content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    max-width: 115px;
    height: 100%;
}

.fillList__content-card img {
    border-radius: 50%;
    height: 100%;
    padding: 8px 10px;
}

.fillList_content_nameContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 85%;
}

.fillList_content_nameContent-name {
    margin-left: -30px;
    display: inline-block;
    font-size: 2.6rem;
    color: #00BBBB;
    font-family: var(--font--writting);
    text-align: center;
    width: 100%;
}