 :root{
    --back--color: #202020;
    --back--header: #101010;
    --font--white: rgb(243, 243, 243);
    --badge--gradiant: linear-gradient(#1E1E1E, #131313);
    --font--writting:'Permanent Marker', cursive;
    --font--neutral: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
} 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    height: 100vh;
}
.searched__content, .home__content {
    padding-top:27vh;
    height: 73vh;
}
#app{
    height: 100vh;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--back--color);
}
