header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__container{
    background-color:  var(--back--header);
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-family: var(--font--neutral);
    
}
.form{
    width: 320px;
}
.form__label-searcher{
    font-size:2.0rem;
    outline: none;
    border-radius: 20px;
    width: 100%;
    padding: 5px 15px;
    height: 45px;
}
.show{
    color:white;
    text-decoration: none;
    font-size:1.6rem;
    margin: 7px 0 0 17px;
    display: inline-block;
}