footer{
    background: var(--badge--gradiant);
    position: fixed;
    bottom: 0;
    height: 6vh;
    width: 100%;
    border-top: 1px solid rgb(71, 71, 71) ;
}
.navFooter_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navFooter_container-prevBtn{
    margin-left: 5%;
}
.navFooter_container-nextBtn{
    margin-right: 5%;
}